In [7]:
import datetime, pandas


trade_orders = []

df = pandas.DataFrame(data = trade_orders)
df

Empty DataFrame
Columns: []
Index: []

In [7]:
df.to_csv('Trading_log.csv')

In [8]:
symbol = "AAPL"
quantity = 3
open_price = 240.555
now = datetime.datetime.now()
date_string = now.strftime("%Y年%m月%d日-%H時%M分")

trading_order = {"賣出時間" : date_string, "股票代號":symbol, "賣出股數": quantity, "賣出價錢": open_price, "總價": float(quantity * open_price)}
trading_order

{'賣出時間': '2022年07月01日-19時14分',
 '股票代號': 'AAPL',
 '賣出股數': 3,
 '賣出價錢': 240.555,
 '總價': 721.665}

In [9]:
df = pandas.DataFrame(trading_order, index = [0])
df

                 賣出時間  股票代號  賣出股數     賣出價錢       總價
0  2022年07月01日-19時14分  AAPL     3  240.555  721.665

In [11]:
df = df.append(trading_order, ignore_index=True, sort=False)
df

C:\Users\enoma\AppData\Local\Temp\ipykernel_2288\108384191.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(trading_order, ignore_index=True, sort=False)

                 賣出時間  股票代號  賣出股數     賣出價錢       總價
0  2022年07月01日-19時14分  AAPL     3  240.555  721.665
1  2022年07月01日-19時14分  AAPL     3  240.555  721.665
2  2022年07月01日-19時14分  AAPL     3  240.555  721.665

In [15]:
df.to_csv('Trading_log.csv', encoding="utf-8_sig")